.HomePage {
  overflow: hidden;
  text-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#HomePageHeader {
  grid-area: header;
}
#HomePageHeadingOne {
  grid-area: "heading";
}
#HomePageCarouselOne {
  grid-area: carouselOne;
  padding: 0px;
  margin: 0px;
  z-index: -3;
}

#HomePageCarouselTwo {
  grid-area: carouselTwo;
}

#HeadingSectionDescription p {
  margin-top: 0%;
  margin-bottom: 5%;
}

#HomePageCarouselThree {
  grid-area: carouselThree;
  padding: 0px;
  margin: 0px;
}
/*.button {
  width: auto;
  background-color: #880d1e;
  border: none;
  color: white;
  padding: 15px 15px;
  padding-right: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}*/
.centraltag {
  font-weight:bold;
  font-size: 22px;
  /*letter-spacing: 2px;*/
  color :black;
  text-align: center;
}

@media (min-width: 1024px) {
  .centraltag {
    font-size: 22px;
  }
}


@media (min-width: 1201px){
  .centraltag {
    font-size: 22px;
  }
}
@media (max-width: 1200px){
  .centraltag {
    font-size: 22px;
  }
}
@media (max-width: 960px){
  .centraltag {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .centraltag {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .centraltag {
    font-size: 13px;
  }
}

