.HeadingThree h3 {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 31px;
}

@media (min-width: 1024px) {
  .HeadingThree h3 {
    font-size: 21px;
  }
}

@media (min-width: 1201px){
  .HeadingThree h3 {
    font-size: 21px;
  }
}
@media (max-width: 1200px){
  .HeadingThree h3 {
    font-size: 21px;
  }
}
@media (max-width: 960px){
  .HeadingThree h3 {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .HeadingThree h3 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .HeadingThree h3 {
    font-size: 12px;
  }
}


