.HeadingFive h5 {
  font-weight: 600;
  font-size: 14px;
  color: #181818;
  letter-spacing: 0;
}

@media (min-width: 1024px) {
  .HeadingFive h5 {
    font-size: 16px;
  }
}

@media (min-width: 1201px){
  .HeadingFive h5 {
    font-size: 16px;
  }
}
@media (max-width: 1200px){
  .HeadingFive h5 {
    font-size: 15px;
  }
}
@media (max-width: 960px){
  .HeadingFive h5 {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .HeadingFive h5 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .HeadingOne h5 {
    font-size: 11px;
  }
}

