.HeadingOne h1 {
  font-weight: 800;
  font-size: 30px;
  color: #880d1e;
  letter-spacing: 0;
  text-align: center;
}

@media (min-width: 1024px) {
  .HeadingOne h1 {
    font-size: 38px;
  }
}
@media (min-width: 1201px){
  .HeadingOne h1 {
    font-size: 38px;
  }
}
@media (max-width: 1200px){
  .HeadingOne h1 {
    font-size: 38px;
  }
}
@media (max-width: 960px){
  .HeadingOne h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .HeadingOne h1 {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .HeadingOne h1 {
    font-size: 20px;
  }
}