#tableformat {
  
  border-collapse: collapse;
  width: 98%;
  text-align: left;
  table-layout: auto;
}
tr:nth-child(even) {background-color: #f2f2f2;}
#tableformat td{
  border: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: justify;
  font-size: 16px;
  padding-left: 10px;
}
#tableformat th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 16px;
  background-color: #800000;
  color: white;
  
}

#publicationtable {
  
  border-collapse: collapse;
  width: 98%;
  text-align: justify;
  table-layout: auto;
}
tr:nth-child(even) {background-color: #f2f2f2;}
#publicationtable tr{
  
  border: 1px solid rgb(20, 20, 20);    
  text-align: justify;
  font-size: 16px;
  padding-left: 80px;
}
#publicationtable td{
  border: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: justify;
  font-size: 16px;
  padding-left: 10px;
}
#publicationtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 16px;
  background-color: #800000;
  color: white;
  
}

#organogramtable {
  width: 83%;
  margin: auto;
  border-collapse: collapse;
  text-align: left;
  table-layout: auto;
 }
.organogramst1{
  font-size:20px;
  font-weight: bold;
  background-color: #800000;
  color: white; 
}
.organogramsub{
  font-size: 20px;
  font-weight: bold;
  background-color: #6d2424;
  color: white; 
}

#organogramtable tr {
  border-top-style: hidden !important;
  border-left-style:hidden !important; 
  border-right-style: hidden !important;
  border-bottom-style:hidden !important; 
  /*height: auto;*/
}
#organogramtable td {
  border-top-style: hidden !important;
  border-left-style:hidden !important; 
  border-right-style: hidden !important;
  border-bottom-style:hidden !important; 
  text-align: left;
}

@media (min-width: 1024px) {
  .organogramst1 {
    font-size: 20px;
  }
  .organogramsub {
    font-size: 20px;
  }
  #tableformat th {
    font-size: 16px;
  }
}

@media (min-width: 1201px){
  .organogramst1 {
    font-size: 20px;
  }
  .organogramsub {
    font-size: 20px;
  }
  #tableformat th {
    font-size: 16px;
  }
}
@media (max-width: 1200px){
  .organogramst1 {
    font-size: 20px;
  }
  .organogramsub {
    font-size: 20px;
  }
  #tableformat th {
    font-size: 16px;
  }
}
@media (max-width: 960px){
  .organogramst1 {
    font-size: 18px;
  }
  .organogramsub {
    font-size: 18px;
  }
  #tableformat th {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .organogramst1 {
    font-size: 16px;
  }
  .organogramsub {
    font-size: 16px;
  }
  #tableformat th {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .organogramst1 {
    font-size: 14px;
  }
  .organogramsub {
    font-size: 14px;
  }
  #tableformat th {
    font-size: 12px;
  }
}


