#HomePageNewsSection {
  background: #fff;
  height: 100%;
  overflow: hidden;
  padding: 0% 8px 0% 8px;
}
.HeadingTwo {
  text-align: left;
  padding-left: 10%;
  font-size: 30px;
}
.BigNews {
  width: 50%;
  float: left;
  padding: 0px 8px 0px 8px;
}
.BigNewsHome {
  width: 100%;
  float: left;
  padding: 0px 8px 0px 8px;
  margin-bottom:20%;
  margin-top: 6%;
}

.NewsHeading {
  align-self: flex-start;
}

.SmallNews {
  display: table-cell;
  margin-left: 50%;
  width: 100%;
}

.SmallNewsRow {
  display: table-row;
}

.SmallNewsItem {
  padding: 2px 8px 2px 8px;
  display: table-cell;
}

.SmallNewsFirst {
  width: 50%;
}
.SmallNewsSecond {
  width: 50%;
}

@media (max-width: 400px) {
  #HomePageNewsSection {
    margin: 16px 0px 1% 0px;
  }
  
  .SmallNews {
    display: none;
  }

  .BigNews {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 560px) {
  #HomePageNewsSection {
    margin: 16px 0px 1% 0px;
  }
  
  .SmallNews {
    display: none;
  }

  .BigNews {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  #HomePageNewsSection {
    margin: 16px 0px 1% 0px;
  }
  
  .SmallNews {
    display: none;
  }

  .BigNews {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}



/*****************************
*	horizontal news ticker scrolling type
******************************/

.ticker-wrapper-h{
	display: flex;	
	position: relative;
	overflow: hidden;
	border: 1px solid #1c6547;
  background-color:#ece4e4;
  content-visibility: auto !important;
}

.ticker-wrapper-h .heading{	
	background-color: #1c6547;
	color: #fff;
	padding: 5px 10px;
	flex: 0 0 auto;
	z-index: 1000;
  content-visibility: auto !important;
}
.ticker-wrapper-h .heading:after{
	content: "";
	position: absolute;
	top: 0;
	border-left: 20px solid #1c6547;
	border-top: 17px solid transparent;
	border-bottom: 15px solid transparent;
  content-visibility: auto !important;
}


.news-ticker-h{
	display: flex;
	margin:0;
	padding: 0;
	padding-left: 90%;
	z-index: 999;
	
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: tic-h;
	animation-duration: 60s;

  content-visibility: auto !important;
	
}
.news-ticker-h:hover { 
	animation-play-state: paused; 
  content-visibility: auto !important;
}

.news-ticker-h li{
	display: flex;
	width: 100%;
	align-items: center;
	white-space: nowrap;
	padding-left: 20px;
  content-visibility: auto !important;
}

.news-ticker-h li a{
	color: #212529;
	font-weight: bold;
  font-size: large;
  content-visibility: auto !important;
}

@keyframes tic-h {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
    content-visibility: auto !important;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
    content-visibility: auto !important;
	}
}

/* end news scroll */
